<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" href="test.css"/>
</head>
<body>
    <div class = "matrix">
        <div>
            <div class="dirty"></div>
            <div class="connector-east"></div>
            <div class="dirty"></div>
            <div class="connector-east"></div>
            <div class="dirty"></div>
            <div class="connector-east"></div>
            <div class="dirty"></div>
            <div class="connector-east"></div>
            <div class="dirty"></div>
            <div class="connector-east"></div>
            <div class="dirty"></div>
        </div>
        <div class="mid">
            <div class="mid-connectors">
                <div class="south"></div>
                <div class="south-east"></div>
                <div class="south-west"></div>
            </div>
            <div class="mid-connectors">
                <div class="south"></div>
                <div class="south-east"></div>
                <div class="south-west"></div>
            </div>
            <div class="mid-connectors">
                <div class="south"></div>
                <div class="south-east"></div>
                <div class="south-west"></div>
            </div>
            <div class="mid-connectors">
                <div class="south"></div>
                <div class="south-east"></div>
                <div class="south-west"></div>
            </div>
            <div class="mid-connectors">
                <div class="south"></div>
                <div class="south-east"></div>
                <div class="south-west"></div>
            </div>
            <div class="mid-connectors">
                <div class="south"></div>
            </div>
        </div>
        <div>
            <div class="dirty"></div>
            <div class="connector-east"></div>
            <div class="dirty"></div>
            <div class="connector-east"></div>
            <div class="dirty"></div>
            <div class="connector-east"></div>
            <div class="dirty"></div>
            <div class="connector-east"></div>
            <div class="dirty"></div>
            <div class="connector-east"></div>
            <div class="dirty"></div>
        </div>
        <div class="mid">
            <div class="mid-connectors">
                <div class="south"></div>
                <div class="south-east"></div>
                <div class="south-west"></div>
            </div>
            <div class="mid-connectors">
                <div class="south"></div>
                <div class="south-east"></div>
                <div class="south-west"></div>
            </div>
            <div class="mid-connectors">
                <div class="south"></div>
            </div>
        </div>
        <div>
            <div class="dirty"></div>
            <div class="connector-east"></div>
            <div class="dirty"></div>
            <div class="connector-east"></div>
            <div class="dirty"></div>
        </div>
    </div>
</body>
</html>