@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body{
    font-family: roboto;
    display: flex;
}

.side-bar{
    padding-right: 3vh;
    border-right: 2px solid;
}

.side-bar > div {
    display: flex;
}

.side-bar > div > h2 {
    padding-right: 2vh;
}

.side-bar > div > button {
    font-size: large;
    display: flex;
    padding-right: 2vh;
    margin: 1vh;
    justify-content: center;
    align-items: center;
}

.matrix{
    padding-left: 3vh;
}

.obstacle {
    z-index: 1;
    background-color: black;
    border-width: 0.1vh;
    border-style: solid;
    margin-right: 0;
    margin-bottom: 0;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
}

.clean {
    z-index: 1;
    background-color: red;
    border-width: 0.1vh;
    border-style: solid;
    margin-right: 0;
    margin-bottom: 0;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
}

.dirty {
    z-index: 1;
    background-color: white;
    border-width: 0.1vh;
    border-style: solid;
    margin-right: 0;
    margin-bottom: 0;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
}

.matrix > div {
    display: flex;
}

.mid-connectors{
    height: 1vh;
}

.connector-east {
    transform: scaleX(2);
    position: relative;
    top: 2vh;
    border: 0.1vh solid;
    width: 1vh;
    height: 0.8vh;
}

.mid-connector {
    display: flex;
    margin-right: 0;
    width: 6.6vh ;
}

.mid-connector > div {
    z-index: -1;
    position: relative;
    border: 1px solid;
    width: 1vh;
    height: 1vh;
    padding-right: 0.1vh;
}

.south-connector{
    left: 2vh;
    top: -0.2vh;
    transform: scaleY(2);
}

.south-east-connector {
    top: 0vh;
    left: 2vh;
    transform: rotate(45deg) scaleX(4);
    transform: rotate(45deg) scaleX(5);
}

.south-west-connector {
    left: 3vh;
    top: -0.4vh;
    transform: rotate(45deg) scaleY(4);
    
}
