.matrix > div > div {
    border: solid black 1px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.matrix > div {
    display: flex;
}

.obstacle {
    background-color: black;
}
.dirty {
    background-color: white;
}
.open {
    background-color: green;
}
.closed {
    background-color: blue;
}
.path {
    background-color: red;
}
.neigh {
    background-color: purple;
}
