@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body{
    font-family: roboto;
    display: flex;
}

.side-bar{
    padding-right: 3vh;
    border-right: 2px solid;
    margin-right: 3vh;
}

.side-bar > div {
    display: flex;

}

.util-title {
    margin-right: 4rem;
    display: flex;
    width : 40%
}

.util {
    display: flex;
    width: 60%
}


.util > select {
    flex-grow: 1
}

.util > input {
    width: 80px;
    height: 80px;
}

.util > button {
    font-size: large;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}
  
  /* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
  
/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #be0a0a; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
  
.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #be0a0a; /* Green background */
    cursor: pointer; /* Cursor on hover */
}