<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genetic Pathfinding</title>
    <link rel="stylesheet" href="./style/graph2.css">
    <link rel="stylesheet" href="./style/sidebar.css">
</head>
<body>
    <div class="side-bar">
        <div>
            <h1>test</h1>
            <button id="start-button">start</button>
            <button id="stop-button">stop</button>
            <button id="reset-button">reset</button>
        </div>
        <div style="justify-content:  flex-end;">
            <button id="rewind-button">←</button>
            <button id="forward-button">→</button>
        </div>
        <div>
            <h1>file</h1>
            <button id="post-button">save</button>    
        </div>
        <div>
            <h1>open</h1>
            <select id="matrix-select" name="matrix">
            </select>
        </div>
    </div>
    <div class="matrix" id="matrix"></div>
</body>
<script src="./methods/display/graph2.js"></script>
<script src="./methods/genetic/setup.js"></script>
<script src="./methods/CRUD/post.js"></script>
<script src="./methods/CRUD/get.js"></script>
<script src="./methods/genetic/start.js"></script>
</html>