<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genetic Pathfinding</title>
    <link rel="stylesheet" href="./style/graph2.css">
    <link rel="stylesheet" href="./style/sidebar.css">
</head>
<body>
    <div class="side-bar">
        <div>
            <div class="util-title">
                <h1>Playback</h1>
            </div>
            <div class="util">
                <button id="playback-button"></button>
                <button id="reset-button">RESET</button>
            </div>
        </div>
        <div>
            <div class="util-title">
                <h1>Playback speed</h1>
            </div>
            <div class="util">
                <select id="playback-speed-select" name="playback-speed">
                    <option value=1000>slow</option>
                    <option value=2>very fast</option>
                    <option value=20>fast</option>
                    <option value=200>medium</option>
                    <option value=2000>really slow</option>
                </select>
            </div>
            
        </div>
        <div>
            <div class="util-title">
                <h1>generation: </h1><h1 id="generation-counter"></h1>
            </div>
            <div class="util">
                <button id="rewind-button">←</button>
                <button id="forward-button">→</button>
            </div>
        </div>
        <div>
            <div class="util-title">
                <h1>File</h1>
            </div>
            <div class="util">
                <button id="post-button">save</button>    
            </div>
        </div>
        <div>
            <div class="util-title">
                <h1>Open</h1>
            </div>
            <div class="util">
                <select id="matrix-select" name="matrix"></select>
            </div>
        </div>
    </div>
    <div class="matrix" id="matrix"></div>
</body>
<script src="./methods/display/graph2.js"></script>
<script src="./methods/genetic/setup.js"></script>
<script src="./methods/CRUD/post.js"></script>
<script src="./methods/CRUD/get.js"></script>
<script src="./methods/genetic/playback.js"></script>
</html>